*{
    margin: 10px;
    padding: 12 px;
    background-color: black;
    color: plum;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    display: block;
}

#container{
    display: inline-flex;
}

h1 {
    margin: 15spx;
    padding: 12 px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

label{
    font-weight: bold;
}

input, select{
    padding: 6px;
    border-radius: 5px;
}
input:focus{
    background-color: white;
    color: black;
    border-radius: 7px;
}


button{
    margin: 10px;
    padding: 10px;
    height: 60px;
    width: 100px;
}

button:hover {
    border-radius: 15px;
    cursor: pointer;
    background-color: plum;
    color: black;
    font-weight: bold;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
background-color: plum;
color: black;
}

tr:nth-child(even) {
    background-color: #ffffff;
}